<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h4>http://localhost:3000/login/123?password=4568</h4>
<% data.users.forEach(function(item){ %>
<li><%= item %></li>
<% }); %>
<form method="POST" action="/login" >
  <label>
      <span>Email address(qs)</span>
      <input
        type="email"
        name="email"
        placeholder="Your email address" value=<%= qr.password %>>
    </label>
    <label>
      <span>Email address(req.params)</span>
      <input
        type="email"
        name="email_confirm"
        placeholder="Your email address" value=<%= id %>>
    </label>
    

      <label>
        <span>Password(passing object)</span>
      <input 
      type ="password"
       name="pwd"
        placeholder="password"  value=<%= data.password %>>
      </label>
       <button type="submit" > Login</button>
</form>
</body>
</html>